<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumper</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💩</text></svg>">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <style>
        #container {
            max-height: 600px;
            overflow-y: scroll;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
        }
    </style>
</head>
<body>
    <template id="template">
        <div class="row p-2 m-1 bg-light rounded">
            <div class="col">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <div class="accordion-header d-flex justify-content-between" id="flush-heading$ID$">
                            <div class="ms-3 pt-3">$DATE$ - $SUMARY$</div>
                            <button class="accordion-button collapsed" style="width: 5%;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse$ID$" aria-expanded="false" aria-controls="flush-collapse$ID$">
                            </button>
                        </div>
                        <div id="flush-collapse$ID$" class="accordion-collapse collapse" aria-labelledby="flush-heading$ID$" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <pre><code>$CONTENT$</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>


    <div class="container">
        <h1>Dumper</h1>
        <div class="d-flex justify-content-between">
            <div>
                <button class="btn btn-sm btn-success mb-3" type="button" id="clear-button">Clear events</button>
                <button class="btn btn-sm btn-warning mb-3" type="button" id="pause-button">Pause</button>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-primary mb-3 me-2" id="content-as-text">Content as text</button>
                <div class="form-check">
                    <label class="form-check-label" for="scroll-to-bottom-checkbox">Always scroll to bottom</label>
                    <input class="form-check-input" type="checkbox" value="" id="scroll-to-bottom-checkbox" checked>
                </div>
            </div>
        </div>
        <div id="container"></div>
    </div>

    <footer>
        <div class="container d-flex justify-content-between">
            <div>Made with ❤️ by&nbsp;<a href="https://github.com/ohvitorino" target="_blank">Bruno</a></div>
            <div><a class="text-reset text-decoration-none" href="https://github.com/ohvitorino/dumper" target="_blank"><i class="fab fa-github fa-2x"></i></a></div>
        </div>
    </footer>

    <div class="modal" tabindex="-1" id="content-as-text-modal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Content as text</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="content-as-text-modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        var running = true
        var scrollToBottom = true

        var container = document.querySelector('#container')

        document.querySelector('#pause-button').addEventListener('click', function (event) {
            if (running === true) {
                event.currentTarget.innerHTML = 'Continue'
                running = false

                return
            }

            event.currentTarget.innerHTML = 'Pause'
            running = true
        })

        document.querySelector('#clear-button').addEventListener('click', function (event) {
            container.innerHTML = ''
        })

        document.querySelector('#scroll-to-bottom-checkbox').addEventListener('change', function (event) {
            scrollToBottom = event.currentTarget.checked
        })

        document.querySelector('#content-as-text').addEventListener('click', function (event) {
            var content = document.querySelector('#content-as-text-modal-body')
            content.innerHTML = ''
            for (const iterator of document.querySelectorAll('.accordion-body > pre > code')) {
                content.innerHTML += iterator.innerHTML + "<br>"
            }

            var modal = new bootstrap.Modal(document.querySelector('#content-as-text-modal'), {})
            modal.show()
        })

        var ws = new WebSocket('ws://localhost:{{PORT}}');

        // event emmited when connected
        ws.onopen = function () {
            console.log('websocket is connected ...')
            // sending a send event to websocket server
            ws.send('connected')
        }

        // event emmited when receiving message
        ws.onmessage = function (ev) {
            if (running === false) {
                return
            }

            var data = ev.data
            try {
                data = JSON.stringify(JSON.parse(ev.data), null, 4)
            } catch (error) {
            }

            var template = document.getElementById('template').innerHTML
            template = template.replaceAll('$ID$', Date.now())
            template = template.replace('$DATE$', new Date().toISOString())
            template = template.replace('$SUMARY$', data)
            template = template.replace('$CONTENT$', data)

            var templateElement = document.createElement('template')
            templateElement.innerHTML = template

            container.appendChild(templateElement.content)

            if (scrollToBottom === true) {
                container.scrollTop = container.scrollHeight
            }

            if (container.childElementCount > 250) {
                container.firstElementChild.remove()
            }
        }
    </script>
</body>
</html>
